@model CustomerProject.Models.OrdersForCustomer

@{
    ViewBag.Title = "Orders For Customer";
}

<h2>OrdersForCustomers</h2>
<h3>Customer: @Model.Customer.Name</h3>


<table class="table">
    <tr>
        <th>Date</th>
        <th>Total</th>
        <th>Description</th>
    </tr>

@foreach (var item in Model.Orders) {
    <tr>
        <td>@item.Date</td>
        <td>@item.Total</td>
        <td>@item.Description</td>
           
    </tr>
}

</table>
